<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0059b3"/>
    <meta name="description" content="Augmented Reality UKRIM">

    <link rel="apple-touch-icon" href="./icons/icon-192x192.png">
    <link rel="icon" href="./UKRIM.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="./app.webmanifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>AR UKRIM</title>
    <script src="https://aframe.io/releases/0.9.2/aframe.min.js"></script>
<!--    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>-->
    <script src="https://raw.githack.com/jeromeetienne/AR.js/master/aframe/build/aframe-ar.min.js"></script>
    <script src="https://raw.githack.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"></script>
    <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
</head>

<style>
    #message {
        position: fixed;
        z-index: 10;
        left: 5%;
        bottom: 30px;
        width: 90%;
        padding: 2%;
        color: #fff;
        font-weight: bold;
        background-color: rgba(0,0,0,.8);
        border-radius: 20px;
        border: 3px solid #fff;
        display: none;
    }
</style>
<body style="margin : 0px; overflow: hidden;">
<div id="message"></div>
<a-scene id="scene" test-comp vr-mode-ui='enabled: false'
         embedded
         arjs='sourceType: webcam; videoTexture: true; debugUIEnabled: false;'
         renderer='antialias: true; alpha: true'>

        <a-camera gps-camera="simulateLatitude: -7.775345479679071; simulateLongitude: 110.45045649569117"
                  rotation-reader></a-camera>

    <a-entity markerhandler emitevents="true" cursor="rayOrigin: mouse" id="entity-handler">
        <a-image id="image-pin">
            <a-text id="text-location" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 2;" material="opacity: 0.5"></a-text>
            <a-text id="text-distance" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 1.7;" material="opacity: 0.5"></a-text>
        </a-image>
    </a-entity>

    <a-entity markerhandler emitevents="true" cursor="rayOrigin: mouse" id="entity-handler2">
        <a-image id="image-pin2">
            <a-text id="text-location2" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 3;" material="opacity: 0.5"></a-text>
            <a-text id="text-distance2" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 1.7;" material="opacity: 0.5"></a-text>
        </a-image>
    </a-entity>

    <a-entity markerhandler emitevents="true" cursor="rayOrigin: mouse" id="entity-handler3">
        <a-image id="image-pin3" position="0 5 0">
            <a-text id="text-location3" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 2;" material="opacity: 0.5"></a-text>
            <a-text id="text-distance3" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 1.7;" material="opacity: 0.5"></a-text>
        </a-image>
    </a-entity>

    <a-entity markerhandler emitevents="true" cursor="rayOrigin: mouse" id="entity-handler4">
        <a-image id="image-pin4">
            <a-text id="text-location4" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 3;" material="opacity: 0.5"></a-text>
            <a-text id="text-distance4" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 1.7;" material="opacity: 0.5"></a-text>
        </a-image>
    </a-entity>

    <a-entity markerhandler emitevents="true" cursor="rayOrigin: mouse" id="entity-handler5">
        <a-image id="image-pin5">
            <a-text id="text-location5" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 3.3;" material="opacity: 0.5"></a-text>
            <a-text id="text-distance5" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 1.7;" material="opacity: 0.5"></a-text>
        </a-image>
    </a-entity>

    <a-entity markerhandler emitevents="true" cursor="rayOrigin: mouse" id="entity-handler6">
        <a-image id="image-pin6">
            <a-text id="text-location6" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 3;" material="opacity: 0.5"></a-text>
            <a-text id="text-distance6" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 1.7;" material="opacity: 0.5"></a-text>
        </a-image>
    </a-entity>

    <a-entity markerhandler emitevents="true" cursor="rayOrigin: mouse" id="entity-handler7">
        <a-image id="image-pin7">
            <a-text id="text-location7" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 1.7;" material="opacity: 0.5"></a-text>
            <a-text id="text-distance7" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 1.7;" material="opacity: 0.5"></a-text>
        </a-image>
    </a-entity>

    <a-entity markerhandler emitevents="true" cursor="rayOrigin: mouse" id="entity-handler8">
        <a-image id="image-pin8" position="0 -5 0">
            <a-text id="text-location8" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 2.6;" material="opacity: 0.5"></a-text>
            <a-text id="text-distance8" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 1.7;" material="opacity: 0.5"></a-text>
        </a-image>
    </a-entity>

    <a-entity markerhandler emitevents="true" cursor="rayOrigin: mouse" id="entity-handler9">
        <a-image id="image-pin9">
            <a-text id="text-location9" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 1.7;" material="opacity: 0.5"></a-text>
            <a-text id="text-distance9" value="" color="black"
                    geometry="primitive:plane; height: 0.5; width: 1.7;" material="opacity: 0.5"></a-text>
        </a-image>
    </a-entity>
    <a-entity camera></a-entity>

</a-scene>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</html>
